body{
  font-family: Akrobat;
}
*{
  margin: 0;
  padding: 0;
  
}
section{
  width: 100%;
}

main{
background-image: linear-gradient(to right top, #8c450e, #852c26, #721d36, #55193f, #33193e, #311b44, #2e1d4a, #2a2050, #512463, #7b226e, #a71870, #d10969) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: linear-gradient();
}
.container{
  margin-left: 248px;
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
ul{
  display: flex;
  column-gap: 5rem;
  align-items: center;
}
header{
padding: 51px 0;
}
.sides-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.title{
font-size: 84px;
font-family: Akrobat;
font-size: 84px;
line-height: 80px;
letter-spacing: 0px;
text-align: left;
text-transform: uppercase;
width: 444px;
color: #fff;
margin-bottom: 34px;
margin-top: 148px;
}
.title span{
  font-weight: bold;
}
.subtitle{
  font-family: Akrobat;
font-size: 24px;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
color: #fff;
}
.left-content{
  width: 50%;
}
.right-content{
  width: 50%;
  margin: 90px 0 0 auto;

}


.paragraph{
  width: 250px;
  height: 100px;
  color: #fff;
  letter-spacing: 1px;

}
.button{
  background: linear-gradient(143.05deg, #FCA82D 20.13%, #EFC449 85.02%);
  width: calc(80px);
  text-align: left;
  border: 1px ;
  border-radius: 30.5px;
  padding: 15px 55px;
  transform: translateY(90px);
  width: 200px;
  width:calc(90px);
}
.button a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.bottom-side{
background-color: #141414;
mix-blend-mode: normal;
opacity: 0.1;
width: 1041px;
margin-left: 198px;
min-height: 0.2vh;
padding: 39px 0;
color: #fff;
letter-spacing: 1px;
font-weight: bold;
backdrop-filter: blur(40.7742px);
}
.holder{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container1{
  margin-right: 61px;
  
  
}
.container2{
 margin-right: 101px;
 font-weight: bold;
}
.container3{
  margin-right: 14px;
}
.container4{
  margin-right: 61px;
}
.container5{
  border: 1px;
  border-radius: 30px;
  background-color: #141414;
  opacity: 1;
}
a i{
  color:orange
}
.toggle{
  display: none;
}

@media (max-width:1300px){
  .bottom-side{
    display: block;
    margin: auto;
    width: 80%;
  }
}
@media (max-width:1100px){
  .sides-holder{
    display: block;
    margin: auto;
  }
  .left-content{
    width: 100%;
    display: block;
    margin: auto;
  }
  .right-content{
    width: 100%;
  }
  .button{
    margin-top: -4rem;
    margin-bottom: 1rem;
  }
}

@media (max-width:920px){
  .toggle{
    display: block;
    color: #fff;
    text-align: right;
    margin-right: 40px;
    font-size: 35px;
  }
  ul{
    display: none;
  }
  .left-content{
    margin-bottom: 50px;
  }
  .bottom-side{
    padding: 8px 50px;
  }
}
@media (max-width:770px){
  .bottom-side{
    display: none;
  }
  
  .title{
    font-size: 2.5rem;
  }
  .sides-holder{
    transform: translateX(-210px);
}
}
@media (max-width:640px){
  .sides-holder{
    transform: translateX(-210px);
}
}

